body{
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    width:100vw
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(14, 27, 85);
    background-size: cover;
}
.container{
    width: 1170px;
    padding:0 15px ;
    margin:  auto;
}
.header-left{
    padding-top: 7px;
    float: left;
}
.header-right{
    float: right;
    padding-left: 20px;
}
.header-right a{
    background-color: rgba(8, 206, 255, 0.3);
    padding: 10px 20px 0 20px ;
    height: 40px;
    position: absolute;right: 12px; top:0px
    transition: 0.5s;
    display:block
    
}
.header-right a:hover{
    background-color: rgba(8, 206, 255, 1);
    cursor: pointer;
}
.header-left h1{
    color: white;
    font-size: 15px;
    line-height: 5px;
}
.header-logo2{
    text-align: center;
}

.top-wrapper{
    padding:100px 0 100px 0;
    text-align: center;
    background-image: url(https://lh3.googleusercontent.com/proxy/z8DxWjGKJ0UYeNyJ9WbX6dWbAFCU5cgq15EYFOzh-c_DSknYd3lV37X64uhC3uhXWSxcSVmbaumqIO36uKcHEyhEnBGmMF19xPROcv3EN-AtaNG8SrIxlpw=s0-d);
    background-size: cover;
    color: rgb(226, 55, 55);
}
.top-wrapper h1{
    line-height: 15px;
    opacity: 0.7;
}
.top-wrapper p{
    opacity: 0.7;
    line-height: 10px;
}
.btn-wrapper{
    margin: 80px 0 30px 0 ;
}
.btn{
    padding:8px 20px ;
    color: white;
}
.btn:hover{
    opacity: 1;
}
.signup{
    background-color: rgb(31, 206, 124);
    opacity: 0.8;
}
.facebook{
    background-color: rgb(49, 76, 226);
    opacity: 0.8;
}
.twitter{
    background-color: turquoise;
    opacity: 0.8;
}

.lesson-wrapper{
 height: 500px;   
 text-align: center;
 background-color: rgba(0, 217, 255, 0.3)
}
.lesson{
    float: left;
    width: 25%;
}
.text-containts{
  width: 80%;  
  display: inline-block;
}
.lesson-icon img{
    height: 180px;
    width: 180px;
}
.lesson-icon{
    position: relative;
}
.lesson-icon p{
    position: absolute;
    top: 55px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(34, 2, 23);
}
.heading{
    padding-top: 60px;
    padding-bottom: 30px;
}
@media screen and (max-width:768px ) {
    .header{
        width: 768px;
    }
    .container{
        width:768px
    }
    .header-right a{
        display: block;
        padding-left: var(--yt-img-margin-left, auto);
        padding-right: var(--yt-img-margin-right, auto);
        max-height: var(--yt-img-max-height, none);
        max-width: var(--yt-img-max-width, 100%);
        position: absolute;right: 0px; top:0px
    }
    .lesson-icon img{
        height: 140px;
        width: 140px;
    }
}
@media only screen and (min-width:651px) {
    html {
      font-size: 80%;
    }
  }
   
  @media only screen and (min-width:961px) {
    html {
      font-size: 100%;
    }

